@page "/"
@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>Home</PageTitle>

<h1>Welcome to AutoRender!</h1>

<AuthorizeView>
    <Authorized>
        <p>Welcome back, @context.User.Identity?.Name!</p>
        <p>You can access the following features:</p>
        <ul>
            <li><a href="/counter">Counter Demo</a></li>
            <li><a href="/weather">Weather Forecast (from API)</a></li>
        </ul>
    </Authorized>
    <NotAuthorized>
        <p>Welcome to your Blazor Auto application with ASP.NET Identity authentication.</p>
        <p>Please <a href="/login">login</a> to access all features.</p>
    </NotAuthorized>
</AuthorizeView>